@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 50px;
    box-sizing: border-box;
    background-color: black;
    border-bottom: 1px solid #fff;
}
.logo{
      padding: 22px 20px;
     height: 80px;
     float: left;
     font-size: 24px;
     font-weight: bold;
     color:white;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
           line-height: 80px;
           color:white;
           padding: 12px 30px;
           text-decoration: none;
           font-size: 14px;
           font-weight: bold;   
}
nav ul li a:hover{
    background-color:rgb(226, 1, 1);
    border-radius: 6px;
    width: 100%;
    height: 100%;
}
header{
    color: black;
   text-align: center; 
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   font-size: 200%;

}
body{

    background-color:#ffffff;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    line-height: 1.5;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% ;
    
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .description{
      background-color: none;
      margin: 15px;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: italic;
      font-size:190%;
      text-align:justify;
      
  }
  .container {
    width:100%;
    height: 640px;
    position: absolute;
    left:49.95%;
    top:55%;
    transform:translate(-50%,-50%);
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    background-size: 100% 100%;
    animation: slider 25s infinite linear;
  }
  .text{
    position: absolute;
  top: 27%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 400%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style:italic;
  color: white;
  
}
.text2{
    position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style:italic;
  color: rgba(238, 215, 215, 0.877);
  
}
@keyframes slider{
    0%{  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    }
    45%{ background-image: url("https://media.istockphoto.com/photos/picturesque-morning-in-plitvice-national-park-colorful-spring-scene-picture-id1093110112?k=20&m=1093110112&s=612x612&w=0&h=3OhKOpvzOSJgwThQmGhshfOnZTvMExZX2R91jNNStBY=");
    }
    75%{ background-image: url("https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg");
    }

}
